alabaster==0.7.9
appdirs==1.4.1
Babel==2.3.4
Brlapi==0.6.5
cycler==0.10.0
coverage==4.3.4
docutils==0.13.1
imagesize==0.7.1
isc==2.0
Jinja2==2.9.5
MarkupSafe==0.23
matplotlib==2.0.0
numpy==1.13.0
packaging==16.8
pandas==0.19.2
psutil==5.1.3
py==1.4.32
pyelftools==0.24
Pygments==2.2.0
pyparsing==2.1.10
pytest==3.0.6
pytest-cov==2.4.0
pytest-benchmark==3.0.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
scipy==0.18.1
six==1.10.0
snowballstemmer==1.2.1
sortedcontainers==1.5.7
Sphinx==1.5.2
virtualenv==15.1.0
cached-property==1.3.0
pytest-timeout==1.2.0
exrex==0.10.4
pyprof2calltree==1.4.1
